<p-toast></p-toast>
<div class="admin-page">
  <p-card header="Attendees" subheader="List of all attendees">
    <div class="p-grid">
      <div class="p-col-12">
        <p-toolbar>
          <div class="p-toolbar-group-left">
            <p-button
              styleClass="p-button-success"
              label="New"
              icon="pi pi-plus"
              routerLink="form"
            ></p-button>
          </div>
        </p-toolbar>
      </div>
    </div>
    <div class="p-grid">
      <div class="p-col-12">
        <p-table [value]="attendees" styleClass="p-datatable-gridlines" [paginator]="true"
        [rows]="10">
          <ng-template pTemplate="header">
            <tr>
                <th>#</th>
              <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
              <th>Email</th>
              <th>Is Admin</th>
              <th>Phone</th>
              <th>Address1</th>
              <th>Address2</th>
              <th>Post code</th>
              <th>County</th>
              <th>Country</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-attendee let-rowIndex="rowIndex">
            <tr>
                <td>{{rowIndex + 1}}</td>
              <td>{{ attendee.name }}</td>
              <td>{{ attendee.email }}</td>
              <td>
                <p-tag
                  *ngIf="attendee.isAdmin"
                  icon="pi pi-check"
                  severity="success"
                  [rounded]="true"
                ></p-tag>
                <p-tag
                  *ngIf="!attendee.isAdmin"
                  icon="pi pi-times"
                  severity="danger"
                  [rounded]="true"
                ></p-tag>
              </td>
              <td>{{ attendee.phone }}</td>
              <td>{{ attendee.address1 }}</td>
              <td>{{ attendee.address2 }}</td>
              <td>{{ attendee.postCode }}</td>
              <td>{{ attendee.county }}</td>
              <td>{{ getCountryName(attendee.country) }}</td>
              <td>
                <p-button
                  (click)="updateAttendee(attendee.id)"
                  styleClass="p-button-success"
                  icon="pi pi-pencil"
                  pTooltip="Edit {{attendee.name}}"
                ></p-button>
              </td>
              <td>
                <p-button
                  (click)="deleteAttendee(attendee.id)"
                  styleClass="p-button-danger p-mr-2"
                  icon="pi pi-trash"
                  pTooltip="Delete {{attendee.name}}"
                ></p-button>
            </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </p-card>
</div>
<p-confirmDialog
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
  rejectButtonStyleClass="p-button-text"
></p-confirmDialog>
