<div class="admin-sidebar">
    <div class="logo">
      <img src="/assets/img/logo.jpg" alt="" />
    </div>
    <div class="links">
      <ul>
        <li>
          <a routerLink="/dashboard"><i class="pi pi-home"></i> Dashboard</a>
        </li>
        <li>
          <a routerLink="/trainings"><i class="pi pi-briefcase"></i> Trainings</a>
        </li>
        <li>
          <a routerLink="/courses"><i class="pi pi-list"></i> Courses</a>
        </li>
        <li>
          <a routerLink="/bookings"><i class="pi pi-shopping-cart"></i> Bookings</a>
        </li>
        <li>
          <a routerLink="/attendees"><i class="pi pi-users"></i>Attendees</a>
        </li>
  
        <li class="logout">
          <a><i class="pi pi-sign-out"></i> Logout</a>
        </li>
      </ul>
    </div>
  </div>