footer {
  text-align: center;
  min-height: 50px;
  padding: 3px;
  background-color: grey;
  padding: 10px 25px;
  color: white;
  width: 100%;

  .footer-wrapper {
          align-items: center;
      
          .social {
            margin-top: 15px;
            text-align: right;
            .nav {
              justify-content: flex-end;
            }
          }
        }
}