<p-toast></p-toast>
<div class="admin-page">
    <p-card header="Courses" subheader="List of all courses">
            <p-toolbar>
                <div class="p-toolbar-group-left">
                    <p-button styleClass="p-button-success" label="New" icon="pi pi-plus"
                    routerLink="form"></p-button>
                </div>
            </p-toolbar>
    <br>
            <p-table [value]="courses" 
            responsiveLayout="scroll" 
            [paginator]="true"
          [rows]="10"
            styleClass="p-datatable-gridlines">
                <ng-template pTemplate="header">
                    <tr>
                        <th>#</th>
                        <th>Id</th>
                        <th>Icon</th>
                        <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
                        <th>Color</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-course let-rowIndex="rowIndex">
                    <tr>
                        <td>{{rowIndex + 1}}</td>
                        <td>{{course.id}}</td>
                        <td><i class="pi" [ngClass]="'pi-' + course.icon"></i></td>
                        <td>{{course.name}}</td>
                        <td>
                            <i
                             class="pi pi-circle-on"
                             style="font-size: 2rem"
                             [ngStyle]="{ color: course.color }"
                            ></i>
                           </td>
                        <td>
                            <button pButton pRipple 
                            icon="pi pi-pencil" 
                            class="p-button-rounded p-button-warning p-mr-2"
                            pTooltip="Edit {{course.name}}"
                            (click)="updateCourse(course.id)"></button>
                        </td>
                        <td>
                            <button pButton 
                            pRipple icon="pi pi-trash" 
                            (click)="deleteCourse(course.id)"
                            pTooltip="Delete {{course.name}}"
                            class="p-button-rounded p-button-danger"></button>
                        </td>

                    </tr>
                </ng-template>
            </p-table>
    </p-card>
</div>
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
