
/* You can add global styles to this file, and also import other style files */
@import '~normalize.css/normalize.css';
//primeng
@import '~primeicons/primeicons.css';
@import '~primeng/resources/themes/saga-blue/theme.css';
@import '~primeng/resources/primeng.min.css';
@import '~primeflex/primeflex.css';

.container {
    width: 1200px;
    padding: 15px;
    margin:  0 auto;
    background-color:lightgray;
}