<p-toast></p-toast>
<div class="admin-page">
  <p-card [header]="editmode ? 'Edit Attendee' : 'Add Attendee'" subheader="You can add or edit attendees here">
    <div class="grid">
      <div class="card">
        <form [formGroup]="form">
          <div class="p-fluid p-formgrid grid">
            <div class="p-field col-12 md:col-6 lg:col-6">
              <label for="name">Name</label>
              <input formControlName="name" id="name" type="text" pInputText />
              <small *ngIf="attendeeForm.name.invalid && isSubmitted" class="p-error"
                >Name is required</small
              >
            </div>
            <div class="p-field col-12 md:col-6 lg:col-6">
              <label for="email">Email</label>
              <input formControlName="email" id="email" type="text" pInputText />
              <small *ngIf="attendeeForm.email.invalid && isSubmitted" class="p-error"
                ><span *ngIf="attendeeForm.email.errors.required">email is required</span>
                <span *ngIf="attendeeForm.email.errors.email">email is invalid</span></small
              >
            </div>
            <div class="p-field col-12 md:col-6 lg:col-6">
              <label for="password">Password</label>
              <input formControlName="password" id="password" type="password" pInputText />
              <small *ngIf="attendeeForm.password.invalid && isSubmitted" class="p-error"
                >Password is required</small
              >
            </div>
            <br>
            <div class="p-field col-12 md:col-6 lg:col-6">
              <label for="color">Phone</label><br />
              <p-inputMask
                mask="(999) 999-9999"
                formControlName="phone"
                placeholder="(999) 999-9999"
              ></p-inputMask>
              <small *ngIf="attendeeForm.phone.invalid && isSubmitted" class="p-error"
                >phone is required</small
              >
            </div>
            <br>
          </div>
          <div class="p-fluid p-formgrid grid">
            <div class="p-field p-field col-12 md:col-6 lg:col-6">
              <label for="address1">Address 1</label>
              <input formControlName="address1" id="address1" type="text" pInputText />
            </div>
            <div class="p-field p-field col-12 md:col-6 lg:col-6">
              <label for="address2">Address 2</label>
              <input formControlName="address2" id="address12" type="text" pInputText />
            </div>
            <div class="p-field p-field col-12 md:col-6 lg:col-3">
              <label for="postCode">Post Code</label>
              <input formControlName="postCode" id="postCode" type="text" pInputText />
            </div>
            <div class="p-field p-field col-12 md:col-6 lg:col-3">
              <label for="county">County</label>
              <input formControlName="county" id="county" type="text" pInputText />
            </div>
            <div class="p-field p-field col-12 md:col-6 lg:col-3">
              <label for="country">Country</label><br />
              <p-dropdown
                [options]="countries"
                formControlName="country"
                optionLabel="name"
                optionValue="id"
                [filter]="true"
                filterBy="name"
                [showClear]="true"
                placeholder="Select a Country"
              ></p-dropdown>
            </div>
            <div class="p-field p-col-3">
              <label for="isAdmin">Is Admin</label><br />
              <p-inputSwitch formControlName="isAdmin"></p-inputSwitch>
            </div>
          </div>
        </form>
      </div>
    </div>
    <br>
    <div class="p-grid p-mb-5">
      <div class="p-col-12">
        <p-toolbar>
          <div class="p-toolbar-group-left">
            <p-button
              styleClass="p-button-primary p-mr-2"
              [label]="editmode ? 'Update' : 'Create'"
              icon="pi pi-plus"
              (click)="onSubmit()"
            ></p-button>
          </div>
          <div class="p-toolbar-group-right">
            <p-button
              styleClass="p-button-secondary"
              label="Cancle"
              icon="pi pi-arrow-circle-left"
              (click)="onCancle()"
            ></p-button>
          </div>
        </p-toolbar>
      </div>
    </div>
  </p-card>
</div>
